// views/templates/AuthenticationComponent.jade
header
  nav.col-md-8.col-md-offset-2
  	ul.nav.nav-tabs
  	  li
  	  	a Signup
  	  li
  	  	a Sign In
  	  li
  	  	a Log Out
  div.row.spacing
  	router-outlet