// views/templates/PollingContainerComponent.jade
//pre
//  {{pollData | json}}

.container
  .jumbotron.text-center
    h1 Polling System
    h2 *THIS will be behind log in
  .row
    .col-sm-6.col-sm-offset-3
      span View All Polls
      br
      table.table.table-bordered
        thead
          tr
            th.text-center There are {{polls.length}} Current Polls
        tbody
          tr(*ngFor="var poll of polls")
            td
              input(type='checkbox' on-click='deletePoll(poll._id)' bind-checked="false")
              | &nbsp;&nbsp;
              | {{poll.name}}
  br

  .row
    .col-sm-6.col-sm-offset-3
      form(on-ngSubmit='createPoll()')
        .form-group
          input.form-control.input-lg(type='text' placeholder='Name for this poll' bindon-ngModel='pollData.name' required)
          br
          div(*ngFor="var option of pollData.options")
            input.form-control.input-lg(type='text' bindon-ngModel='option.text' placeholder='new option')
        .form-group.text-center
          br
          button.btn.btn-default.btn-lg(type='button' on-click='addPollOption()') Add Poll Option          
          br
          br
          button.btn.btn-success.btn-lg(type='submit') Save